<app-topmenu></app-topmenu>
<div class="container">
  <div class="row">
    <div class="col-sm-2"><br/>
      <p-tieredMenu  #menu [model]="items" [popup]="true"></p-tieredMenu >
      <button #btn type="button" pButton class="bg-inverse" icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button>
      <app-leftmenu></app-leftmenu>
    </div>
    <div class="col-sm-10">
      <div class="main-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> 
</div>


