.d3-linechart {
  width:100%;
  height:200px;
}

.d3-linechart .axis path,
.d3-linechart .axis line {
  stroke: #999;
}

.d3-linechart .axis text {
  fill: #999;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

