<div class="row">
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>BarChart</h4>
      <app-barchart *ngIf="chartData" [data]="chartData"></app-barchart>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>LineChart</h4>
      <app-linechart></app-linechart>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>DonutChart</h4>
      <app-donutchart></app-donutchart>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>PieChart</h4>
      <app-piechart></app-piechart>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>Radar</h4>
      <app-radarchart></app-radarchart>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="main-wrapper">
    <div class="card card-block bg-inverse">
      <h4>Polar Area</h4>
      <app-polararea-chart></app-polararea-chart>
    </div>
  </div>
</div>
</div>

    
 
    


